Here will will visualize the data to get a better understanding of it.

In [1]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/home/joelpiet/.local/lib/python3.10/site-packages/pandas/core/arrays/masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (
/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

Let's load the data

In [4]:
data = pd.read_csv('./data/finalized_data.csv')

display(data.head())

,Station,Departure Count,Return Count,Year,Month,Day,Precipitation amount (mm),Air temperature (degC),Maximum temperature (degC),Minimum temperature (degC),Weekend,Last 3 Year Avg Departures,Last 3 Year Avg Returns
0,Linnanmäki,11.0,15.0,0,5,2,0.0,12.1,17.8,5.9,0,NaN,NaN
1,Workshop Helsinki,14.0,13.0,0,5,2,0.0,12.1,17.8,5.9,0,NaN,NaN
2,Kampin metroasema,17.0,12.0,0,5,2,0.0,12.1,17.8,5.9,0,NaN,NaN
3,Laivasillankatu,3.0,3.0,0,5,2,0.0,12.1,17.8,5.9,0,NaN,NaN
4,Merisotilaantori,2.0,3.0,0,5,2,0.0,12.1,17.8,5.9,0,NaN,NaN